<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ernest.kidsmate1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Database">
        <activity android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectContents2"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Feature_Dictionary"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Feature_TodaysWord"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Game_BlankGuessing"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Game_ImageGuessing"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".Game_WordChain"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Test_WordChain"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Login_test"
            android:screenOrientation="sensorLandscape"/>

        <activity android:name=".Character_Info"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Character_Pet"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Character_Alphabet"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Character_Trophy"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Layout_Test"
            android:configChanges="screenSize|orientation"/>

        <activity android:name=".Game_BlankGuessing_BossBattle" />
        <activity android:name=".Game_ImageGuessing_BossBattle" />
        <activity android:name=".Game_WordChain_BossBattle" />

        <activity android:name=".Game_ImageGuessing_TestView"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".Game_BlankGuessing_TestView"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".Game_WordChain_TestView"
            android:configChanges="screenSize|orientation"/>

        <activity android:name=".Activity_Menu" />

    </application>

</manifest>